# Ignore build directories
build/
/bin/
/obj/

# Ignore CMake user presets
CMakeUserPresets.json

# Ignore user-specific files
*.user
*.sln
*.suo
.vs/
# Ignore compiled files
*.o
*.dll
*.so
*.a
*.dylib
*.exe
engine.log
