[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/ozz-animation"]
	path = external/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation
